    .link-springer{
        display: block;
        background: linear-gradient(to right, rgba(254, 215, 170, 0.1), #fed7aa);
        color: #4B5563;
        text-align: right;
        font-size: 0.80rem;
        font-weight:500;
        padding-inline: 16px;
        padding-block: 0.3px;
        border-radius:0.25rem;
    }

    .link-emerald{
        display: block;
        background: linear-gradient(to right, rgba(190, 242, 100, 0.1), #bef264);
        color: #4B5563;
        text-align: right;
        font-size: 0.80rem;
        font-weight:500;
        padding-inline: 16px;
        padding-block: 0.3px;
        border-radius:0.25rem;
    }

    .link-cambridge{
        display: block;
        background: linear-gradient(to right, rgba(254, 240, 138, 0.1), #fef08a);
        color: #4B5563;
        text-align: right;
        font-size: 0.80rem;
        font-weight:500;
        padding-inline: 16px;
        padding-block: 0.3px;
        border-radius:0.25rem;
    }

    .link-springer:hover{
        color:rgba(0, 0, 0, 0.4) !important;
    }

    .link-emerald:hover{
        color:rgba(0, 0, 0, 0.4) !important;
    }

    .link-cambridge:hover{
        color:rgba(0, 0, 0, 0.4) !important;
    }