/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body & Background */
body {
    background-image: url('https://cdn-web.ruangguru.com/file-uploader/6df54f45-02b4-43c0-8897-87d5ed54e1fd.jpg');
    font-size: 16px;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.title-loginpage {
    font-family: "Georgia", serif !important;
    color: rgba(255, 255, 255, 1);
    font-size: 115%;
    letter-spacing: 5px;
    line-height: 25px;
    display: flex;
    margin-bottom: 1.5rem;
    background-color: rgba(255, 255, 255, 0.2);
}

/* Login Form Section */
.login-section {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.login-container h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}


.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
}

.input-group input:focus {
    outline: none;
    border-color: #ff8c00;
    box-shadow: 0 0 5px rgba(255, 140, 0, 0.5);
}

/* Button */
.login-btn {
    width: 100%;
    padding: 15px;
    background-color: green;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: lightgreen;
}

/* Links */
.signup-link {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.signup-link a {
    color: green;
    text-decoration: none;
    font-weight: 600;
}

.signup-link a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: white;
    margin-top: 10px;
}

/* Hover Effect for Form */
.login-section:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}

.footer-loginpage {
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.9);
}