
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    height: 100vh;
}

.content {
    flex-grow: 1;
    background-color: #fff;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
}

.status p {
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f9b42d;
    color: white;
}

.keterangan {
    margin-top: 30px;
}

.keterangan h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.keterangan p {
    font-size: 16px;
    margin-bottom: 10px;
}